body {
    background: rgb(133, 164, 106);
    /*display: grid;*/
    /*grid-template-columns: 50% 50%;*/
    /*gap: 20px;*/
    /*grid-template-areas:*/
    /*'AB' 'AB' 'CC'*/
}

#map {
    width: 100%;
    height: 400px;
    /*justify-self: stretch;*/
    /*grid-area: C;*/
}

/*#weather_cont {*/
/*    grid-area: A;*/
/*}*/

/*#search_container {*/
/*    grid-area: B;*/
/*}*/

